<nav class="flex justify-center items-center  gap-6 text-(--color-primary-light) bg-(--glass-bg) p-3 backdrop-blur-md w-fit rounded-full top-4 left-1/2 -translate-x-1/2 fixed z-50 ">
  <!-- left section -->
  <section class="nav-item flex gap-2 items-center">
   <h1>Product</h1>
   <h1>Docs</h1>
  </section>
 <!-- logo -->
  <section>
   <img width="100" class="logo"  src="assets/logo/n8n_pink+white_logo.svg" alt="">
  </section>
 <!-- right section -->
  <section class="nav-item flex gap-2 items-center">
  <button>Github</button>
  <button mat-raised-button>Sign In</button>
  </section>
</nav>
<img src="assets/logo/n8n_pink+white_logo.svg" class="intro-logo fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none opacity-0 w-[200px]"alt="">
