<main class="relative w-screen h-screen">
  <section class="brightness-30 absolute inset-0">
    <video #bgvideo src="assets/videos/bg.mp4" class="w-full h-full object-cover" autoplay loop muted playsinline></video>
    <div class="absolute inset-0 bg-linear-to-b from-black/40 via-black/20 to-black/60 pointer-events-none"></div>
  </section>
  <section class="flex items-center justify-center w-screen h-screen absolute inset-0 z-50 ">
   <img class="max-w-[70%] mix-blend-screen opacity-90 " src="assets/images/hero-bg.png" alt="">
  </section>
  <section class="absolute inset-0 flex flex-col items-center justify-center text-center gap-15 px-6">
 <h1 class="text-[3vw]   z-60 leftsection">Flexible AI workflow automation <br>
for <span class="text-(--color-primary) tag">technical teams</span></h1>
<p class="max-w-lg   text-gray-400 rightsection">Build with the precision of code or the speed of drag-n-drop. Host with on-prem control or in-the-cloud convenience. n8n gives you more freedom to implement multi-step AI agents.</p>
<div class="z-60 flex items-center gap-4">
 <button mat-flat-button class="bg-(--color-primary)! started">Get Started</button>
 <button mat-raised-button class="bg-transparent! border! border-gray-400! talk">Talk to sales</button>
</div>
  </section>
</main>
