<main class="w-screen h-screen relative">
  <section class="absolute inset-0">
   <canvas
    #splineCanvas
    id="canvas3d"
    class="absolute inset-0 w-full h-full object-cover"
  ></canvas>
  </section>
  <section   class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[90%] pointer-events-none">
    <div class="grid grid-cols-2 gap-12">
     <div class="m-20 gap-2 flex flex-col items-center leftsection">
      <h2 class="text-(--color-primary) text-[16px] w-full">n8n for Enterprise</h2>
      <h1 class="text-[2vw] w-full Star">Unblock your business  operations</h1>
      <h3 class="text-[14px] text-gray-400">Increase efficiency across your organization by transforming error-prone, manual processes into secure, automated workflows at scale – 10X faster than conventional code.</h3>
      <button class="w-full text-white! bg-transparent! border! border-gray-700!" mat-raised-button>Contact Sales</button>
     </div>
     <div>
       <div class="bg-transparent border border-gray-700 rounded-xl rightsection">
        <img class="w-full h-full object-cover rounded-3xl p-3" src="assets/images/enterprise_header.png" alt="">
       </div>
     </div>
    </div>
  </section>
  <section>
    <div class="absolute left-1/2 bottom-10 -translate-x-1/2 -translate-y-1/2">
      <h1>The world's most popular workflow automation platform for technical teams including</h1>
      <div>
        logos
      </div>
    </div>
  </section>
</main>
